html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
  margin: 0;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 100%;
    line-height: 1.5;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

section {
  text-align: center;
}

ul {
  justify-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff9500;
}

p {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  border: 2px solid #fff;
}

div a:hover {
  background-color: #fff;
  color: #ff9500;
}

.icon {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 0;
  margin-bottom: -1rem;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: #fff;
}
